
.button{
    border: solid rgba(255, 0, 0, 0.418) 2px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    transform: .4s;
    color: black;
}
.button:hover{
    transform: scale(1.1);
    cursor: pointer;
    text-decoration: none;

}
.nav-link{
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.logo{
    font-weight: bold;
    color: black;
    font-size: 30px;
}
.logo1{
    font-weight: bold;
    color: red;
    font-size: 30px;
}

.pic-box{
    position: relative;

}
.Hot{
    background-color: orange;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 100px;
    border: none;
    border-radius: 7px;
    padding: 3px;
    position: absolute;
    top: 0px;
    right: 36px;
    z-index: 10;
   
    
}