<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'Script/bootstarp5.css'%}">
    <link rel="stylesheet" href="{%static 'Script/bootstarp.4.css'%}">
    <script src="{%static 'Script/Jquery.js'%}"></script>
    <script src="{%static 'Script/POPP.js'%}"></script>
    <script src="{%static 'Script/jsboot.js'%}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>GamersShop | Online Shopping </title>
</head>
<body>

<footer class="text-center lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
        <div class=" me-5 d-none d-lg-block">
            <span> Get connected with us on social network: </span>
        </div>
            <div>
                <a href="#" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
                <a href="#" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
                <a href="#" class="me-4 text-reset"><i class="fa fa-google"></i></a>
                <a href="#" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
                <a href="#" class="me-4 text-reset"><i class="fa fa-linkdin"></i></a>
                <a href="#" class="me-4 text-reset"><i class="fa fa-github"></i></a>
            </div>
    </section>
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i> GamersShop</h6>
                        <P>
                            paragraph
                        </P>
                    </div>
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4"> Products</h6>
                            <p><a href="#" class="text-reset">MENU</a></p>
                            <p><a href="#" class="text-reset">MENU</a></p>
                            <p><a href="#" class="text-reset">MENU</a></p>
                            <p><a href="#" class="text-reset">MENU</a></p>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4"> Products</h6>
                            <p><a href="#" class="text-reset">MENU</a></p>
                            <p><a href="#" class="text-reset">MENU</a></p>
                            <p><a href="#" class="text-reset">MENU</a></p>
                            <p><a href="#" class="text-reset">MENU</a></p>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4"> Products</h6>
                            <p><a href="#" class="text-reset">MENU</a></p>
                            <p><a href="#" class="text-reset">MENU</a></p>
                            <p><a href="#" class="text-reset">MENU</a></p>
                            <p><a href="#" class="text-reset">MENU</a></p>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-2 mx-auto mb-md-0 mb-4">
                            <h6 class="text-uppercase fw-bold mb-4"> Contact</h6>
                            <p><i class="fa fa-home">  Vignesh Balaji</i></p>
                            <p><i class="fa fa-envelope">  vignesh@gmail.com</i></p>
                            <p><i class="fa fa-phone">  +91 7904283304</i></p>
                        </div>
                </div>
            </div>
        </section>
            <div class="text-center p-4">
                &copy; 2023 Copyright <a class="text-reset fw-bold" href="#">GamersShop.com</a>
            </div>
</footer>
</body>
</html>